<!-- <app-header></app-header> -->
<button type="button" data-toggle="modal" data-target="#exampleModalCenter" (click)="handleAddEmployee()">
    Add Employee
</button>
<ng-template [ngIf]="employeeList.length > 0">
    <app-table [enableHover]="true" [isEditRequire]="true" [isDeleteRequire]="true" [spaceNeedColumn]="[]"
        [data]="employeeList" [getEditableId]="getEditableId" [getDeleteId]="getDeleteId"
        [dataTarget]="'#exampleModalCenter'">
    </app-table>
</ng-template>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog employeeFormModal modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Employee Form</h5>

            </div>
            <div class="modal-body">
                <app-employee-form [empolyeePropsForm]="empolyeePropsForm" [getAllEmployee]="getAllEmployee">
                </app-employee-form>
            </div>

        </div>
    </div>