<div class="flex">
    <div class="col-2">
        <app-select-box [props]="selectBoxPros"></app-select-box>
    </div>
    <button type="button" data-toggle="modal" data-target="#taskFormModal">
        Add Task
    </button>

</div>
<ng-template [ngIf]="taskList.length > 0">
    <app-table [enableHover]="true" [isEditRequire]="true" [isDeleteRequire]="true" [spaceNeedColumn]="[]"
        [data]="taskList" [getEditableId]="getEditableId" [getDeleteId]="getDeleteId" [dataTarget]="'#taskFormModal'">
    </app-table>
</ng-template>
<div class="modal fade" id="taskFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog employeeFormModal modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Employee Form</h5>

            </div>
            <div class="modal-body">
                <app-taskform class="flex"></app-taskform>
            </div>

        </div>
    </div>


    <!-- <div class="dropdown mr10">
    <span   id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
       <i>icon</i>
    </span>
    
    <div class="dropdown-menu dropdown-list " aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div> -->
    <!-- <app-taskform class="flex"></app-taskform> -->





    <div id='treeparent'>
        <ejs-treeview id="tree" [fields]="field" [cssClass]="cssClass" [allowDragAndDrop]=true>
            <ng-template #nodeTemplate="" let-data="">
                <div>
                    <img class="eimage"
                        src="https://ej2.syncfusion.com/demos/src/treeview/images/employees/{{data.eimg}}.png"
                        alt="{{data.eimg}}" />
                    <div class="ename">{{data.name}}</div>
                    <div class="ejob">{{data.job}}</div>
                </div>
            </ng-template>
        </ejs-treeview>
    </div>