<div>
    <div class="col-12 flex spbtw p0">
        <div class="containerUpload">
            <div class="imgPreview">
                <img [src]='imgURL' alert="profileImg" />
            </div>
            <div class="choosefileContainerUpload">
                <div class="chooseFileUpload">
                    <span><button class="uploadButton">Upload</button></span>
                    <input class="fileInput" ref="fileField" type="file" accept="jpeg"
                        (change)="handleFileInput($event.target.files)">
                </div>
            </div>

        </div>
        <div class="genderContainer">
            <label>Gender</label>
            <div class="genders mb10">
                <span *ngFor="let item of gender" (click)="handleGenders(item.id)" [ngStyle]="genderMatch(item.id)">
                    {{item.name}}
                </span>

            </div>
        </div>
    </div>
    <div class="col-12 flex wrap">
        <div class="col-4 mb10">
            <app-input [props]="id"></app-input>
        </div>
        <div class="col-4 mb10">
            <app-input [props]="firstName"></app-input>
        </div>
        <div class="col-4 mb10">
            <app-input [props]="lastName"></app-input>
        </div>
        <div class="col-4 mb10">
            <app-date-picker [props]="dob"></app-date-picker>
        </div>
        <div class="col-4 mb10">
            <app-input [props]="email"></app-input>
        </div>
        <div class="col-4 mb10">
            <app-input [props]="phoneNo"></app-input>
        </div>

    </div>
    <div class="col-12 textarea">
        <app-textarea [props]="commAddress"></app-textarea>
    </div>
    <div class="col-12 textarea">
        <app-textarea [props]="perAddress"></app-textarea>
    </div>
    <div class="middle mt20">
        <button class="cancel pointer" data-dismiss="modal" type="submit">Cancel</button>
        <button class="add pointer" type="submit">Add</button>
    </div>
</div>