<div class="col-12 flex wrap">
    <div class="clm - 12 containerUpload">
        <div class="imgPreview">



        </div>
        <div class="choosefileContainerUpload">
            <div class="chooseFileUpload">
                <span><button class="uploadButton">Upload</button></span>
                <input class="fileInput" ref="fileField" type="file" accept="jpeg" />
            </div>
        </div>

    </div>
    <app-input [props]="props"></app-input>
    <app-date-picker [props]="props"></app-date-picker>


</div>