<div>
    <div class="sideBarContainer">
        <div class="middle logoContainer">
            <div>
                <a [routerLink]="layout/dashboard" class="logoContainer">
                    <img src="assets/svg/Virdhi_Logo.svg" class="logoContainer"></a>
            </div>
            <!-- <span class="sideBarHoverClass">Logo</span> -->
        </div>
        <a *ngFor="let item of menus">
            <div class="sideBarIcons h64 middle relative pointer">
                <div class="menusSvg">
                    <a [routerLink]="item.route" routerLinkActive="active" class="icons middle"> <img
                            src={{item.icon}}></a>
                </div>
                <span class="sideBarHoverClass">{{item.menuName}}</span>
            </div>
        </a>
    </div>
    <div class="ChildrensWidth">
        <router-outlet></router-outlet>
    </div>
</div>