<div class="loginBoxContainer">
  <div class="loginbox">
      <form>
          <h1 class ="center">
              <span class="flex"> Login </span>
              <span class="flex"><img alt="virdhi_logo" src="assets/svg/login.svg">  </span>
          </h1>
          <input class='loginInputs' type="email" placeholder="email" />
          <input class='loginInputs' type="password" placeholder="Password"  />
          <button class="loginButton pointer" type="submit" >LOG IN</button>
          <div class="forgetPwd">
              <span>Forget Password ?</span>
          </div>
          <div class="register">
              <span>Register</span>
          </div>
      </form>
  </div>
</div>