<div class="container">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
      Add Customer
    </button>
    <div class="modal" id="myModal">
      <div class="modal-dialog customer-form-modal">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Customer Form</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="flex col-12">
                <div class="col-6">
                    <app-input [props] = "name"
                    ></app-input>
                </div>
                <div class="col-6">
                        <app-input [props] = "typeOfCompany"
                        ></app-input>
                    </div>
                </div> 
                <div class="flex col-12">
                        <div class="col-6">
                            <app-input [props] = "countryId"
                            ></app-input>
                        </div>
                        <div class="col-6">
                                <app-select-box [props] = "currencyType"
                                ></app-select-box>
                            </div>
                        </div> 
                        <div class="flex col-12">
                                <div class="col-6">
                                    <app-input [props] = "website"
                                    ></app-input>
                                </div>
                                <div class="col-6">
                                        <app-input [props] = "emailId"
                                        ></app-input>
                                    </div>
                                </div> 
                                <div class="col col-12">
                                    address
                            </div> 
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>